{{!-- individual park page --}}  
{{#with parks}} 
<div class="header solo" style="background-image: url('./{{#if Images}}{{#each Images}}{{url}}{{/each}}'{{else}}assets/images/parks/{{id}}.jpg'{{/if}});">
    <div class="box">
        <h1>{{name}}</h1>
        <h2>{{address}}</h2>
        <h3>size:{{size}}</h3>    
        
    </div>  
</div>

<div class="parcon">
       {{> parks/park-block}} 
    </div>

{{/with}}
